@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.nav-container {
  position: sticky;
  top: 0;
}
.nav-wrapper {
  background-color: gray;
  display: flex;
  justify-content: space-around;
}
.nav-left-side {
  padding-right: 250px;
}
#logo {
  width: 100px;
  height: 100px;
  padding: 5px;
}
.link-wrapper {
  display: flex;
}
.link-wrapper > li {
  margin-left: 20px;
}
.link-wrapper > li > a {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 5;
}
.cover-img {
}
.cover-img > div {
  height: calc(100vh - 106px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.slogan-wrapper {
  min-width: 810px;
}
.slogan {
  font-size: 45px;
  color: white;
  font-weight: 300;
  word-spacing: 7px;
  letter-spacing: 5px;
}
.slogan-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 500px;
  padding-bottom: 200px;
  flex-direction: column;
}
.div-button {
  display: inline-block;
  color: white;
  border: 1px solid orange;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  min-width: 250px;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  min-height: 50px;
  font-size: 22px;
  font-weight: 300;
}

.button-wrapper {
  display: flex;
  align-items: flex-start;
  min-width: 810px;
}
#main-btn {
  background-color: orange;
  color: white;
  min-width: 200px;
}
